/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
/* Basic CSS for styling */
body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left
}

header {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #0073e6;
}

a {
	color: white;
}

a:hover {
	color: black;
}

.container-fluid {
    padding: 50px;
    margin: 0px;
}

.col-md-6 {
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    
}

.nav {
    background-color: #538b00;
    padding: 10px 20px;
    text-align: center; 
}

.nav a {
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
}

.nav a:hover {
    color: black;
}

#foot {
	color: white;
	background-color: #538b00;
}

.pics {
    width: 50%;
    height: auto;
}

#space{
	margin-bottom: 60px;
}

.h3 {
	margin-top: 10px;  
	font-size: 1.5rem;
  	text-align: center;
  	font-size: 140%;
}

.fade-image {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade-image:hover {
  opacity: 0.4;
}

.concert {
	width: 60%;
	margin: 0 auto;
}

#oasis {
	margin-top: 40px;
}

#head {
	text-align: center;
	margin-top: 60px;
	font-size: 250%;
}

#logo {
	height: 100px; 
	vertical-align: middle;
	margin-bottom: 10px;
}

.row {
	text-align: center;
}

.sectitle {
	font-size: 2rem;
  	text-align: center;
	margin-bottom: 1rem;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

#rectitle {
	text-align: center;
	margin-top: 40px;
}

.form-end {
	margin-bottom: 80px;
}

.centerbtn {
	margin-bottom: 60px;
	text-align: center;
}

.btn {
	color: white;
	background-color: #538b00;
	border: none;
}

.btn:hover {
	color: black;
	background-color: #ffd6f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 60px);
  object-fit: cover;
}

.text {
  max-width: 400px;
  margin: 5px auto;
  text-align: center;
}

@media (min-width: 576px) {
  .sectitle {
    font-size: 2.5rem;
  }

  .h3 {
    font-size: 1.25rem; 
  }

  p {
    font-size: 1.25rem; 
  }
  .text {
    font-size: 1rem;
  }

}

@media (min-width: 768px) {
  .sectitle {
    font-size: 3rem;
  }

  .h3 {
    font-size: 2.5rem;
  }

  .text {
    font-size: 1.5rem;
  }
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.parent-container {
  display: flex;
  justify-content: center;
  padding-top: 20px; /* Adjust the top space as needed */
  height: 100vh;
}

.form-group {
  width: 640px;
  height: 720px;
  border: none;
}